.principal__logement{
    margin-right: 6.5%;
    margin-left: 6.5%;
    margin-top: 120px;
    
    .Fiche-logement{
        .description-info{
            display: flex;
            justify-content: space-between;
                .description-info__titletags__title{
                    display: flex;
                    flex-direction: column;
                    font-family: montserrat;
                    font-weight: 500;
                }
        }
       
    }
}

.collapse__logement{
    display: flex;
    justify-content:space-between;
    .description__collapse{
        width: 47%;
    }
    .equipement__collapse{
        width: 47%;
    }
}

.titre-logement{
    color: #ff6060;
    font-size: 36px;
}
.localisation-logement{
    font-size: 18px;
}

.tags{
    margin-top: 35px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}
.tag-container__button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 700;
    background-color: #ff6060;
    border-radius: 10px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-family: montserrat;
    width: 115px;
    height: 25px;
}

.description-info__proprietaire__nom{
    gap: 10px;
    display: flex;
    align-items: center;
    color:#ff6060;
    font-family: montserrat;
    font-size: 18px;
    font-weight: 500;
    img{
        
        height: 64px;
        border-radius: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 800px) {
    .principal__logement{
        margin-top: unset;
    }
    .titre-logement{
        font-size: 18px;
    }
    .endroit-logement{
        font-size: 14px;
        margin-top: 10px;
    }
    .description-info{
        flex-direction: column;
        
    }
    .description-info__proprietaire{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .nom_proprio{
            font-size: 12px;
        }
        .photo_proprio{
        height: 32px;
        }
        .star{
            height: 18px;
        }
    }
    .collapse__logement{
        flex-direction: column;
        .description__collapse{
            width: 100%;
            margin-bottom: -40px;
        }
        .equipement__collapse{
            width: 100%;
        }
    }
    .tags{
        .tag-container__button{
            height: 18px;
            width: 87px;
            font-size: 9px;
            padding: unset;
            border-radius: 5px;
            margin-bottom: 15px;
            margin-top: -20px;
        }
    }
}