.banner-container {
	height: 223px;
	
	margin: 0 auto;
	margin-bottom: 25px;
	width: 100%;
	object-fit: cover;
	border-radius: 15px;
	
	
}

.banner-text-container{
display: flex;	
	position: relative;
	justify-content: center;
	align-items: center;	
	top: -70%;
	margin: auto;
}
.banner-text {
	display: flex;
	
	
	justify-content: center;
	align-items: center;
	
	font-weight: 500;
	line-height: 100%;
	font-size: 48px;
	font-family: montserrat;
	color: white;
	filter: brightness(100%);
	
	
}
@media screen and (max-width: 800px) {

.banner-container {
    height: 111px;
	margin: 0 auto;
	margin-bottom: 25px;
	width: 100%;
	object-fit: cover;
	border-radius: 15px;
}
.banner-text-container{
    display: flex;	
	position: relative;	
	top: -100%;
	margin: auto;
	padding: 10px;
}
.banner-text {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	line-height: 100%;
	font-size: 24px;
	font-family: montserrat;
	color: white;
	filter: brightness(100%);
}
}