section #carrousel-container{
    height: 415px;
    width: 100%;
    margin-bottom: 120px;
    margin-top: -80px;
    img{
        border-radius: 25px;
    }
   
    
    .leftArrow{
        width: 46px;
        height: 79px;
        position:relative;
        top: 60%;
        left: 10%;
    }
    .rightArrow{
        
        position: relative;
        top: 60%; 
        left: 75%;
        width: 46px;
        height: 79px;
    }
    .slider-active-anim{
        height: 415px;
        border-radius: 15px;
        .slider__number{
            position: relative;
            color: white;
            top: -45px;
            left: 50%;
        }
        img{
            display: flex;
            justify-content: center;
            margin: auto;
            width: 1240px;
            object-fit: cover;
            height: 415px;
            width: 100%;
        }
    }    
}

@media screen and (max-width: 800px) {
section #carrousel-container {
    margin-bottom: -120px;
    margin-top: 40px;
    .leftArrow{
        top:35%;
        left: 2%;
        height: 24px;
        width: 24px;
    }
    .rightArrow{
        top:35%;
        left: 85%;
        height: 24px;
        width: 24px;
    }
    .slider-active-anim img{
        height: 255px;
        border-radius: 15px;
    }
    .slider__number{
        display: none;
    }
}
}