.collapse{
    
    .collapse__dropdown{
        margin-left: auto;
        margin-right: auto;
        width: 1023px;
        

        .collapse__dropdown__container{
            background-color: #ff6060;
            border-radius: 5px;
            color: white;
            padding-left: 10px;
            i {
                color: white;
            }
            div{
                height: 20px;
                justify-content: center;
            }
        }
    }
}