.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    .logoheader{
        margin-left: 50px;
        height: 68px;
        
    }
    nav{
        margin-right: 40px;
        a{
            margin-right: 30px;
            color: black;
            text-decoration: none;
            font-family: montserrat;
            font-weight: 500;
            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
        ul{
            display:flex;
            li{
                margin-right: 50px;
                list-style: none;
                cursor: pointer;
            }
        }
    }
}